//#00174a
//#f2f3f2
$body-bg: #f9fbff;
$body-color: #fff;
$about-color: #89d0e6;
$fa-font-path: "fonts";

$theme-colors: (
    "primary": #89d0e6,
    "secondary": #f2f3f2,
    
    // "success": ..,
    // "info": ..,
    // "warning": ..,
    // "danger": ..,
    "light": #f2f3f2,
    "dark": #091f47
    // "dark": #020c1f
    );