@use '@/styles/variables';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}

.brand-image {
    width: clamp(5em, 5vw, 10em);
}

.navbar-menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

.navbar-items {
    max-height: 0;
    transition: max-height 600ms ease-out;
    overflow: hidden;
}

.is-unfolded .navbar-items {
    max-height: 200px;
}

.navbar-footer {
    display: none;
    color: variables.$secondary;
    font-weight: 125;
}

.navbar-burger {
    color: variables.$secondary;
    font-size: 2em;
    font-weight: 900;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    background: none;
    border: none;
}

.navbar-item {
    padding: 0.5rem 0.75rem;
    position: relative;
    cursor: pointer;
    justify-content: center;
    font-size: clamp(1rem, 1vw, 2.5rem);
}

.navbar-item > a {
    color: variables.$secondary;
}

.navbar-item > a:hover {
    color: #f2f2f370;
}

.is-unfolded {
    display: flex;
}

.active-item > a {
    color: variables.$primary;
  }

@media screen and (min-width: 1024px) {

    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
    }

    .navbar-items {
        max-height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .navbar-footer {
        display: flex;
        flex-direction: column;
    }

    .navbar-burger {
        display: none;
    }
}