<section id="about" class="text-dark py-5 px-3">
    <div class="text-center"> 
        <i class="fas fa-5x fa-user-tie"></i>
        <h1>About me</h1>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 px-3">
                <img id="about-profile" src="assets/images/profiles.jpg" alt="about-profile">
            </div>
            <div class="col-md-8 py-5 px-3">
                <p>
                Hi! My name is Muhammet Sarioglu.
                <br>
                <br>
                I'm a Software Developer who is committed to his work. 
                In 2015 I graduated from my IT System Management study which I started in 2010. 
                After my IT System Management study I decided to take it a step further and started with the Software Development study.
                In 2021 I graduated from my Software Development study and decided to focus myself on career.
                <br>
                <br>
                What I like about software development is that nowadays you can automate everything and that this is becoming wider every day for devices.
                You are also the first to become acquainted with the new technologies.
                <br>
                <br>
                I also enjoy every step of the design process, from discussion and collaboration to concept and execution, but the result of a finished product is the most satisfying in my opinion.
                <p>
            </div>
        </div>
        <hr>
        <div class="row no-gutters justify-content-center py-2">
            <h4>Expertise</h4>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-sm-6 col-md-3 mx-1">
                <h5>Programming Languages</h5>
                <ul>
                    <li>
                        C#
                    </li>
                    <li>
                        Java
                    </li>
                    <li>
                        PHP
                    </li>
                    <li>
                        Pyhton
                    </li>
                    <li>
                        JavaScript/Typescript
                    </li>
                    <li>
                        Swift
                    </li>
                    <li>
                        SQL
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 mx-1">
                <h5>Frameworks</h5>
                <ul>
                    <li>
                        .NET 5
                    </li>
                    <li>
                        EntityFramework
                    </li>
                    <li>
                        Angular
                    </li>
                    <li>
                        Flutter
                    </li>
                    <li>
                        OpenAPI (Swagger)
                    </li>
                    <li>
                        Flask
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 mx-1">
                <h5>Development Tools</h5>
                <ul>
                    <li>
                        Git
                    </li>
                    <li>
                        Jira
                    </li>
                    <li>
                        Docker
                    </li>
                    <li>
                        Jenkins
                    </li>
                    <li>
                        SonarQube
                    </li>
                    <li>
                        Confluence
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>