<header class="masthead vh-100 asyncImage" data-src="/images/background.jpg">
    <div class="d-flex justify-content-center text-center vh-100" id="home">
        <div class="content align-self-center h-50">
            <img src="assets/images/profile.jpg" class="profile">
            <h1>Muhammet <span class="color-blue">Sarioglu</span></h1>
            <h5>I'm a
            <span class="color-blue"> Software Developer</span>
            </h5>
            <div class="d-flex justify-content-between">
                <a class="text-secondary" href="https://www.facebook.com/sarioglumuhammed">
                    <i class="fab fa-2x fa-facebook-f"></i>
                </a>
                <a class="text-secondary" href="https://www.linkedin.com/in/muhammet-sarioglu-5105b27a/">
                    <i class="fab fa-2x fa-linkedin-in"></i>
                </a>
                <a class="text-secondary" href="https://github.com/msarioglu">
                    <i class="fab fa-2x fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</header>