<section id="portfolio" class="text-dark py-5 px-3">
    <div class="text-center"> 
        <i class="fa fa-5x fa-briefcase"></i>
        <h1>Portfolio</h1>
    </div>
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="card col-sm-6 col-md-3 m-3">
                <div class="card-body text-center">
                    <h4 class="card-title">iOS - Calculator</h4>
                    <img src="assets/images/portfolio/ios-calculator.png" class="card-img card-img-top">
                    <p class="card-text">A basic iOS themed calculator build with Ionic.</p>
                    <a href="https://github.com/msarioglu/iOS-Calculator" class="btn btn-dark btn-sm">Git <i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>