@use '@/styles/variables';

.about-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
}

.header {
  text-align: center;
  padding: 10px;
  color: variables.$dark;
}

.header-icon {
  font-size: 4rem;
  font-weight: 900;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: inherit;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 0 3rem 1rem 3rem;
  justify-content: space-evenly;
}

.profile-image {
  max-width: 20rem;
  max-height: 30rem;
  border-radius: 2rem;
}

.column {
  font-size: .9rem;
  display: inherit;
  flex-basis: max-content;
  flex-wrap: wrap;
  align-content: space-around;
}

@media screen and (min-width: 1024px) {
  .about-page {
    min-height: 100vh;
  }

  .row {
    flex-wrap: nowrap;
  }
}