@use '@/styles/variables';

.projects-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
}

.header {
  text-align: center;
  padding: 10px;
  color: variables.$dark;
}

.git-button {
  background-color: variables.$primary;
  border-color: variables.$primary;
  border-radius: 0.7rem;
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: variables.$light;
  min-width: 85px;
}

.git-icon {
  font-size: 1.5rem;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left: 0.5rem;
}


.header-icon {
  font-size: 4rem;
  font-weight: 900;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: inherit;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 0 3rem 1rem 3rem;
  justify-content: space-evenly;
}

.project-item {
  display: flex;
  color: variables.$dark;
  border: 1px solid variables.$secondary;
  border-radius: 1rem;
  background-color: variables.$light;
  padding: 1rem;
  width: 12rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.project-description {
  font-size: clamp(1rem, 0.5vw, 1.2rem);
}

.project-icon {
  height: 64px;
  width: 64px;
}

@media screen and (min-width: 1024px) {
  .projects-page {
    min-height: 100vh;
  }
}