@charset "utf-8";
@use '@/styles/variables';
@use '~minireset.css/minireset';
@use '~@fortawesome/fontawesome-free/scss/brands';
@use '~@fortawesome/fontawesome-free/scss/solid';

@font-face {
    font-family: 'Tracks Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Tracks Normal'), url('../public/fonts/tracksnormal.woff') format('woff');
}

html,
body,
input,
optgroup,
select,
textarea {
    min-width: 364px;
    font-family: "Tracks Normal";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    margin: 1rem 3rem 1rem 3rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

p {
    padding: 0.5rem;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
    font-size: clamp(1rem, 1.0vw, 1.7rem);
}

a {
    color: variables.$primary;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #f2f2f370;
}

h1 {
    font-size: clamp(2rem, 1.5rem + 2vw, 4rem);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 3rem);
    padding-bottom: 0.5rem;
}

h3 {
    font-size: clamp(1.25rem, 1rem + 1vw, 2rem);
    padding-bottom: 0.5rem;
}

h4 {
    font-size: clamp(1.2rem, 1rem + 0.2vw, 1.8rem);
    padding-bottom: 0.5rem;
}